{% extends 'layout.html' %}

{% block body %}
  <div class="jumbotron text-justified">
    <h2>About this quiz application:</h2>
    <p>This site was created to help Mrs. S's fourth grade class learn all the 50 state capitals of the United States of America. It is built with the Python programming language, the Flask web development framework, and
    and SQL database.</p>
    <p>Privacy policy: No personal information is collected by this site.</p>
    <div><a class="btn btn-primary" role="button" href="{{ url_for('index') }}">Try the quiz!</a></div>
  </div>
{% endblock %}
