{% extends 'layout.html' %}

{% block body %}
  <h3>Map of the 50 state capitals</h3>
  <br><br>
  <img src="{{url_for('static', filename='state_capitals.png')}}" alt="Map of USA Capitals" width=1280 height=714>
  <br><br>
  <p>Image from <a href="http://www.pixabay.com">pixabay.com</a> / <a href="https://creativecommons.org/publicdomain/zero/1.0/deed.en">CCO Creative Commons License</a>.</p>
  <br><br>
  <h3>List of the 50 state capitals</h3>
  <ul class="list-group">
    {% for capital in capitals %}
      <li class="list-group-item">{{capitals[capital]+", "+capital}}</li>
    {% endfor %}
  </ul>
{% endblock %}
