{% extends 'layout.html' %}

{% block body %}

<div class="jumbotron">
    <form action="/">
        <h3>Select the quiz to display score statistics:</h3>
            <select name="quiz_name">
	               {% for quiz in quiz_names %}
		                {% if quiz == current_quiz_name %}
			                 <option selected value="{{ quiz }}">{{ quiz }}</option>
		                {% else %}
			                 <option value="{{ quiz }}">{{ quiz }}</option>
		                {% endif %}
	               {% endfor %}
            </select>
      <input type="submit">
    </form><br>
    <ul>{{quiz_name}}
      <li>Mean quiz score: {{stats['mean']}}</li>
      <li>Median quiz score: {{stats['median']}}</li>
      <li>Standard deviation: {{stats['std']}}</li>
      <li>Number of quiz attempts: {{stats['attempts']}}</li>
    </ul>
  <p>{{plot|safe}}</p>&nbsp;
  <p><a class="btn btn-primary" role="button" href="{{ url_for('index') }}">Try the quiz!</a></p>
</div>


{% endblock %}
