{% extends 'layout.html' %}

{% block body %}
  <div class="jumbotron text-justified">
    <div class="container-fluid">
      <h3>Statistics from the users taking the 20 question quiz:</h3>
      <p>Display mean, mode, median, histogram of scores.</p>&nbsp;
    </div>
    <div class="container-fluid">
      <h3>Statistics from the users taking the 50 question quiz:</h3>
      <p>Display mean, mode, median, histogram of scores.</p>&nbsp;
    </div>
    <div><a class="btn btn-primary" role="button" href="{{ url_for('index') }}">Try the quiz!</a></div>
  </div>
{% endblock %}
