{% extends 'layout.html' %}

{% block body %}
    <div class="jumbotron text-justified">
        <div class="container-fluid">
            <h3>Statistics from the users taking the 20 question quiz:</h3>
            <ul>
                <li>Mean quiz score: {{dat20['mean']}}</li>
                <li>Median quiz score: {{dat20['median']}}</li>
                <li>Standard deviation: {{dat20['std']}}</li>
                <li>Number of quiz attempts: {{dat20['attempts']}}</li>
            </ul>
            <p>{{plot20|safe}}</p>&nbsp;
        </div>
        <div class="container-fluid">
            <h3>Statistics from the users taking the 50 question quiz:</h3>
            <ul>
                <li>Mean quiz score: {{dat50['mean']}}</li>
                <li>Median quiz score: {{dat50['median']}}</li>
                <li>Standard deviation: {{dat50['std']}}</li>
                <li>Number of quiz attempts: {{dat50['attempts']}}</li>
            </ul>
            <p>{{plot50|safe}}</p>&nbsp;
        </div>
        <div><a class="btn btn-primary" role="button" href="{{ url_for('index') }}">Try the quiz!</a></div>
    </div>
{% endblock %}